.Card-inner {
    position: absolute;
    left: 560px;
    right: 0px;
    top: 15px;
    bottom: 15px;
    width: auto;
    height: auto;
    padding: 0px;
    overflow: hidden;
    transition: visibility 1s linear, opacity linear;
    background-color: #191919;
    border-radius: 15px;
}
  
.Card-inner.active {
    opacity: 1;
    visibility: visible;
    z-index: 0;
}
  
.card-inner.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
  
.Card-inner.animated {
    opacity: 1;
    visibility: visible;
    z-index: 0;
}
  
.Card-inner-content-about {
    padding: 30px 30px 0 30px;
    position: relative;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}
  
.Card-inner-content {
    padding: 30px 30px 0 30px;
    position: relative;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.content {
    margin-bottom: 40px;
}

.Title {
    color: rgba(255, 255, 255, 0.85);
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
    font-size: 20px;
    line-height: 21px;
    min-height: 51px;
    font-weight: 600;
    z-index: 2;
    text-transform: uppercase;
}

.First-word{
    color: #5efaff !important;    
}

.FadeInLeft {
    -webkit-animation-name: FadeInLeft;
    animation-name: FadeInLeft;
}

.FadeOutLeft {
    -webkit-animation-name: FadeOutLeft;
    animation-name: FadeOutLeft;
}

.Animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-design {
    color: #5efaff;
    font-size: 40px;  
    font-weight: bold;
}

@keyframes FadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-70%, 0, 0);
        transform: translate3d(-70%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes FadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-70%, 0, 0);
        transform: translate3d(-70%, 0, 0);
        z-index: -1;
    }
}