.menu-header {
    margin-right: .5em;
    position: relative;
    float: left;
}

.button-menu {
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: var(--color-fondo);
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    border-radius: var(--bordes);
    color: var(--color-fuente);
}

.list-menu { 
    list-style-type: none;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: var(--color-fondo); 
    padding: 0%;
    width: 5em;
    margin-top: 25%;
    border-radius: var(--bordes);
}

.list-menu ul {
    font-size: 20px;
    color: var(--color-fuente);
    list-style-type: none; /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
    margin-top: 10px;
    cursor: pointer; /* Cambia el cursor a un puntero (como un botón) */
}

.active i {
color: var(--color-primario); /* Cambia este color al que desees */
}

.custom-tooltip .tooltip-text {
    background-color:  var(--color-primario);
    visibility: hidden;
    width: 0;
    color: black;
    text-align: center;
    border-radius: 20px;
    padding: 5px 5px;
    position: absolute;
    z-index: 2;
    top: 37%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s, width 0.3s;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bolder;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    width: auto;
}

.custom-tooltip {
    position: relative;
    display: block; /* Asegura que cada ítem de la lista esté en una nueva línea */
    margin-bottom: 10px; /* Espaciado entre los ítems de la lista */
}

/* BARRA LATERAL */
.sidebar {
position: fixed;
top: 0;
left: -250px; /* Comienza escondida */
width: 200px;
height: 100%;
background-color: var(--color-fondo);
color: var(--color-fuente);
transition: left 0.3s ease;
padding-top: 60px;
border-top-right-radius: var(--bordes);
border-bottom-right-radius: var(--bordes);
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease, visibility 0.3s ease;
z-index: 1; /* Asegura que la superposición esté encima del contenido */
}

.sidebar.open {
left: 0; /* Aparece en la pantalla */
}

.sidebar nav ul li {
cursor: pointer;
}

.sidebar-title{
font-size: var(--font-size-subtitles);
font-weight: bold;
}

.sidebar-subtitles{
font-size: var(--font-size-text);
}

.close-btn{
padding: 10px;
margin: 10px auto;
cursor: pointer;
background-color: #f44336;
color: white;
border-radius: var(--bordes);
width: 150px;
height: 35px;
align-self: flex-end;
}



@media (max-width: 950px) {
    .menu-header {
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        height: 50px;
        margin-right: 0;
        text-align: center; /* Centra el contenido dentro del div */
        float: none; /* Elimina el float para asegurarse de que no afecte el posicionamiento */
        z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
        background-color: var(--color-fondo); 
        transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 1;
    }

    .menu-header.hidden {
        visibility: hidden;
        opacity: 0;
      }
    
    .button-menu {
        display: flex;
        justify-content: center; 
        align-items: start;    
        background-color: var(--color-fondo);
        width: 2.5em;
        height: 1em;
        font-size: 2em;
        margin-bottom: 0%;
        border-radius: var(--bordes);
        color: var(--color-fuente);
    }
    
    .list-menu { 
        list-style-type: none;
        display: flex;
        justify-content: start; 
        background-color: var(--color-fondo); 
        padding: 0%;
        width: 100%;
        margin-top: 0;
        border-radius: var(--bordes);
    }
    
    .list-menu ul {
        font-size: 20px;
        color: var(--color-fuente);
        list-style-type: none; /* Elimina los puntos de las listas */
        padding: 0;
        margin: 0;
        margin-top: 10px;
        cursor: pointer; /* Cambia el cursor a un puntero (como un botón) */
    }
      
      .list-inline {
        display: flex; /* Hace que los elementos li se dispongan en fila horizontal */
        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0;
        margin: 0;
      }
      
      .list-inline li {
        margin: 0 5vw; /* Añade espaciado horizontal entre los elementos de la lista */
      }

      .custom-tooltip:hover .tooltip-text {
        visibility: hidden;
        opacity: 1;
        width: auto;
    }
    

}