.menu-header {
    margin-right: 8px;
    position: relative;
    left: 0;
    top: 25%;
    float: left;
    list-style-type: none;
}
  
.list-menu {
    list-style-type: none; /* Elimina los puntos de las listas */
    padding: 0%;
    list-style-type: none;
    background-color: #191919;
}

.list-menu ul {
    list-style-type: none; /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
    margin-top: 10px;
    cursor: pointer; /* Cambia el cursor a un puntero (como un botón) */
}