.Profile-card {
    position: relative;
    float: left;
    width: 30em;
    height: 100%;
    background-color: #191919;
    z-index: 1;
    border-radius: 15px;
}
  
.Profile-card-align {
    position: relative;
    left: 0%;
    width: 30em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Profile-photo {
    border-radius: 30px;
    background-image: url('ProfileImg.jpg');
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 57%;
    width: 100%;;
    background-size: cover;
    background-position: center;
}

.Profile-name {
    margin-top: 300px;
    margin-bottom: 20px;
    font-size: 40px;
}

.Profile-title {
    color: #5efaff;   
    font-size: 25px;
    margin-bottom:25px;
    text-align: center;
}

.Profile-social {
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
}

.Profile-social a {
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: inherit; /* Utiliza el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.Profile-card-bottoms {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
}

.Profile-card-bottoms a {
    display: block;
    float: none;
    width: 100%;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: inherit; /* Utiliza el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.lnks {
    
}

.lnks:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}

._lnks {
    position: relative;
    padding: 0px;
    margin: 0px 0;
}

._lnks:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px; /* Grosor de la línea */
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
    transform: translateX(50%); /* Mueve la línea hacia la derecha sin desplazar el contenido */
}