.Profile-card {
    position: relative;
    float: left;
    width: 25vw;
    height: 100%;
    z-index: 1;
    background-color: var(--color-fondo);
    border-radius: var(--bordes);
}
  
.Profile-card-align {
    position: relative;
    left: 0%;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Profile-photo {
    border-radius: var(--bordes);
    background-image: url('../../../public/img/ProfileImg.jpg');
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 57%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.Profile-name {
    margin-top: 300px;
    margin-bottom: 20px;
    font-size: var(--font-size-titles);
    color: var(--color-fuente);
    font-weight: bold;
}

.Profile-title {
    color: var(--color-primario);   
    font-size: var(--font-size-text);
    margin-bottom:25px;
    text-align: center;
}

.Profile-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
    vertical-align: middle;
}

.Profile-social a {
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: var(--font-size-subtitles);
    color: var(--color-fuente); /* Utiliza el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.Profile-card-bottoms {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
}

.Profile-card-bottoms a {
    font-weight: bold;
    display: block;
    float: none;
    width: 100%;
    font-size: var(--font-size-text);
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-fuente); /* Utiliza el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.Profile-card-bottoms a:hover,
.Profile-social a:hover {
    color: var(--color-primario);
    transition: color 0.3s ease; /* Transición de color lenta */
}

.lnks:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
}

._lnks {
    cursor: pointer;
    position: relative;
    padding: 0px;
    margin: 0px 0;
}

._lnks:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px; /* Grosor de la línea */
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
    transform: translateX(50%); /* Mueve la línea hacia la derecha sin desplazar el contenido */
}

@media (max-width: 950px) {
    .Profile-card {
        position: relative;
        margin-top: 5px;
        width: 95vw;
        height: 35vh;
        z-index: 1;
        background-color: var(--color-fondo);
        border-radius: var(--bordes);
    }
      
    .Profile-card-align {
        position: relative;
        width: 95vw;
        height: 35vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .Profile-photo {
        min-height: 10vh;
        height: 15vh;
        width: 95vw;
        background-position: 30% 30%;;
    }
    
    .Profile-name {
        margin-top: 10vh;
        margin-bottom: 1vh;
    }
    
    .Profile-title {
        margin-bottom:1vh;
    }

    .Profile-social a {
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
        font-size: var(--font-size-subtitles);
        color: var(--color-fuente); /* Utiliza el color del elemento padre */
        text-decoration: none; /* Elimina el subrayado */
    }

    .Profile-card-bottoms {
        height: 40px;
    }
    
    .Profile-card-bottoms a {
        height: 10px;
        line-height: 40px;
    }
    

    .Profile-card-bottoms a:hover,
    .Profile-social a:hover {
    color: var(--color-fuente);
    transition: color 0.3s ease; /* Transición de color lenta */
}
    
}