.tamaño-texto{
    font-size: .70rem;
    
}

.btn-small {
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-small:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
  }

  .progress-container {
    position: relative;
    width: 75%;
  }
  .progress-text {
    position: absolute;
    top: -20px; /* Ajusta la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

