.background-inf {
    background-color:#5efaff5b;
    border-radius: 3px;
}

.info-list {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.center-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


